*{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Cinzel', serif;
}
@font-face {
    font-family: "Cinzel";
    src: url("../font/Cinzel.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
html, body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
canvas{
    background-color: #000;
    width: 100%;
    height: 100%;
    display: absolute;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -9999;
}
.button{
    position: absolute;
    top: 2%;
    right: 4%;
}
h1{
    align-self: center;
}
a {
    color: inherit;
}
label > a:hover {
	background:#ff0; 
	color:#f00;
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: #333;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.light-mode canvas{
    background-color: FFFADA;
}
.light-mode #cont{
    background-color: F5D0A0; /*E6D9A1*/
}
.row{
    display: flex;
    align-items: center;
    left: 10px;
}
.item{
    flex: 1;
    text-align: center;
    margin: 5px 10px;
}
.img{
    align-self: center;
    margin-bottom: 12px;
}
.row a{
    margin: 10px;
}
.light-mode label{
    color: #000;
}
section:nth-child(odd){
    color: chartreuse;
}
section:nth-child(even){
    color: deeppink;
}
.links{
    font-size: 0.8em;
    align-self: center;
}
#outsource{
    align-self: center;
    margin-bottom: 6px;
    background-color: #555;
    color: white;
    font-size: 12px;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}